*
{
	margin: 0;
}

html, body
{
	overflow: hidden;
}

body
{
	position: relative;
}

button, button:active, button:focus, button:hover
{
  outline: none;
	background: transparent;
}

button:active
{
	opacity: 0.2;
}

button::-moz-focus-inner
{
  border: 0;
}


#MW-MAP
{
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	right: 0;
	text-align: center;

	background: linear-gradient(to top, #90D8EF, #169AC5);
}

#MW-MAP > canvas
{
	position: absolute;
	left: 0;
	height: 100vh;

	/* z-index нужен для того, чтобы канвас,
	 * который генерируется движком после статических
	 * кнопок был ниже их */
	z-index: 10;
}


.movement-button
{
	position: relative;
	opacity: 0.1;
	width: 30vw;
	height: 100vh;
	overflow: hidden;
	border: none;
	user-select: none;
	/* z-index нужен для того, чтобы канвас,
	 * который генерируется движком после статических
	 * кнопок был ниже их */
	z-index: 20;
}

#movement-button-left:after,
#movement-button-right:after,
#movement-button-jump:after
{
	content: "";
	position: absolute;
	width: 40%;
	height: 40%;

	background: url('../assets/arrow.png') center no-repeat;
	background-size: 100% auto;
}

#movement-button-left:after,
#movement-button-right:after
{
	top: 30vh;
}

#movement-button-left:after
{
	transform: rotate(180deg);
	left: 0;
}

#movement-button-right:after
{
	right: 0;
}

#movement-button-jump:after
{
	transform: translateX(-50%) rotate(-90deg);
	left: 50%;
}

